/*styles.css */

body {
    margin: 0;
    text-align: center;
}


/*HEADER-SECTION */
.header-top {
    padding: 10px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 75px;
    background-color: #1f2937;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 395px;
}

.head-logo {
    color: #f9faf8;
    font-family: 'roboto';
    font-weight: 850;
    font-size: 24px;
}

ul {
    font-family: 'roboto';
    font-size: 13px;
    display: flex;
    gap: 15px;
    margin: 0px;
    list-style-type: none;
}

a {
    color: rgb(223, 221, 221);
    text-decoration: none;
}

.main-text {
    background-color: #1f2937;
    color: rgb(247, 233, 233);
    font-family: 'roboto';
    display: flex;
    justify-content: space-around; 
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 75px;

}

.hero-main {
    display: flex;
    flex-wrap: wrap;
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.web-interact {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 400px;
}



button {
    background-color: #3882f6;
    outline-style: none;
    color: white;
    width: 100px;
    height: 35px;
    border-radius: 6px;
}

/*SECTION 2: */

.random-info {
    display: flex;
    justify-content: center;
    padding: 40px;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.boxes {
    display: flex;
    gap: 35px;
    justify-content: center;
    padding-bottom: 50px;
}

.box {
    width: 115px;
    height: 115px;
    border-radius: 6px;
    outline: solid #3882f6;
}

.box-1 {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

.subtext-info {
    font-size: 13px;
    font-family: 'roboto';    
}

.section-three {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 275px;
    margin: auto;
}

.testi {
    font-size: 24px;
    color: #1F2937;
    display: flex;
    flex-wrap: wrap;
    text-align: left; /*very crucial for flex-items. */
    align-items: center;
    width: 500px;
}

.sig {
    display: flex;
    font-size: 18px;
    font-weight: bold;
    align-self: self-end;
    margin-right: 400px;
}


.section-four {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta-section {
    width: 700px;
    height: 50px;
    background-color: #3882f6;
    color: #E5E7EB;
    padding: 25px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}

.cta-text{
    font-family: 'roboto';
    text-align: left;
    padding-right: 80px;
}

.cta {
    font-weight: bold;
}

.cta-subtext {
    font-size: 12px;
}

.cta-button {
    outline-style: solid;
    outline-color: solid white;
    border-radius: 6px;
}

.footer {
    background-color: #1f2937;
    color: white;
    font-family: 'roboto';
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
}







