/*styles.css */

body {
    margin: 0;
}


/*HEADER-SECTION */
.header-top {
    padding: 10px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 75px;
    background-color: #1f2937;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 395px;
}

.head-logo {
    color: #f9faf8;
    font-family: 'roboto';
    font-weight: 850;
    font-size: 24px;
}

ul {
    font-family: 'roboto';
    font-size: 13px;
    display: flex;
    gap: 15px;
    margin: 0px;
    list-style-type: none;
}

a {
    color: rgb(223, 221, 221);
    text-decoration: none;
}

.main-text {
    background-color: #1f2937;
    color: rgb(247, 233, 233);
    font-family: 'roboto';
    display: flex;
    justify-content: space-around; 
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 75px;

}

.hero-main {
    display: flex;
    flex-wrap: wrap;
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.web-interact {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 400px;
}



button {
    background-color: #3882f6;
    color: white;
    width: 100px;
    height: 35px;
    border-radius: 6px;
}







